.category-title {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 30px;
}

.slider {
  position: relative;
  margin: 50px auto;
  height: 450px;
  overflow: hidden;
}

.slider-inner {
  column-gap: 50px;
  pointer-events: none;
  position: absolute;
  width: 135%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.product {
  height: 100%;
  text-align: center;
}

.product .product-title {
  font-size: 1.85em;
  font-weight: bold;
  margin-bottom: 5px;
}

.product a img {
  height: 200px;
  object-fit: contain;
  pointer-events: auto;
}

.product .item-price {
  font-size: 1.4em;
  margin-bottom: 1.25%;
}

.product button {
  pointer-events: auto;
}