.sign-in-grid-container {
  background-color: #efefef;
  width: 75%;
  margin: 10% auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "sign_in sign_up"
  					           "sign_in_form sign_up"
}

.sign-in-grid-container > div {
  text-align: center;
  padding: 15px 0;
  font-size: 1.5em;
}

.sign-in-grid-container > .sign_in {
	grid-area: sign_in;
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 25px;
}

.sign-in-grid-container > .sign_up {
  grid-area: sign_up;
  background-color: #f08f57;
  color: white;

  /* flexbox used in order to center the text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign_up_title {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 2%;
}

.sign_up_subtitle {
  padding: 10px 30px;
}

.sign-in-grid-container > .sign_in_form {
  grid-area: sign_in_form;
	text-align: left;
  font-size: 1.5em;
  margin: 0 auto;
  width: 75%;
  padding-bottom: 75px;
}

.username_input {
  margin-bottom: 5%;
}

.forgot_password {
  font-size: 0.8em;
  text-align: center;
  padding: 25px 0;
}

.sign_in_button {
  margin-top: 20px;
  text-align: center;
}

.sign_in_form form > input {
  width: 100%;
  margin-top: 5px;
}

.sign_in_form form > label {
  font-size: 0.8em;
}