/*
Styles common to every page on the website.
*/

body {
  font-family: Courier, monospace;
}

header {
  border-bottom: 3px solid #f08f57;
}

nav {
  align-items: center;
  background-color: #3b4047;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 15px 0;
}

#logo a {
  font-style: italic;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
}

.nav_links {
  list-style: none;
}

nav > li > a {
  color: white;
  font-size: 25px;
}

a:hover {
  color: #f08f57;
}

a > .logo_Gs {
  display: inline-block;
  color: #f08f57;
  font-size: 45px;
}

#first_G {
  margin-left: 15px;
}

#about a {
  margin-right: 15px;
}

#search input {
  width: 500px;
}

button {
  font-family: Courier;
  font-size: 20px;
}

footer {
  background-color: #f08f57;
  color: white;
  padding: 30px 0;
  margin-top: 50px;
  text-align: center;
}