body {
  font-family: Courier, monospace;
}

.homepage-banner {
  position: relative;
  text-align: center;
  color: white;
}

.homepage-banner > img {
  height: 60%;
  width: 100%;
}

.homepage-banner > .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered > .main-tag {
  font-size: 3em;
}

.centered > .main-subtitle {
  margin-top: 50px;
  font-size: 1.4em;
}

.trending-section {
  margin: 30px 0;
}

.trending-section > .trending-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.trending-section > .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
}

.grid-container > .grid-item {
  text-align: center;
}

.grid-item > .trending-item-image {
  width: 250px;
  height: 200px;

  /* images keep aspect ratio; resized to fit above height and width */
  object-fit: contain;
}

.grid-item > .trending-item-name {
  font-size: 1.8em;
  margin-bottom: 5px;
}

.grid-item > .trending-item-price {
  display: inline-block;
  font-size: 1.2em;
}

.grid-item > .add-to-cart {
  font-family: Courier;
}

header {
  border-bottom: 3px solid #f08f57;
}

nav {
  align-items: center;
  background-color: #3b4047;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 15px 0;
}

#logo a {
  font-style: italic;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
}

.nav_links {
  list-style: none;
}

nav > li > a {
  color: white;
  font-size: 25px;
}

a > .logo_Gs {
  display: inline-block;
  color: #f08f57;
  font-size: 45px;
}

#first_G {
  margin-left: 15px;
}

#about a {
  margin-right: 15px;
}

#search input {
  width: 500px;
}

button {
  font-family: Courier;
  font-size: 20px;
}

footer {
  background-color: #f08f57;
  color: white;
  padding: 30px 0;
  margin-top: 50px;
  text-align: center;
}