*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Courier, monospace;
}

.header {
    margin-left: 0;
    margin-top: 0;
}

.navbar {
    background-color: #3b4047;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

#logo{
    font-size: 2.2rem;
    font-weight: 900;
    color: #ffffff;
}

.logo-g{
    font-size: 3rem;
    color: #f08f57;
}

.navbar a:link {
    color: #ffffff;
}

.navbar a {
    color: #ffffff;
}

.navbar a:active {
    color: #f08f57;
}

.navbar a:hover {
    color: #f08f57;
}

.about-title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.about-text {
    text-align: center;
    margin: 30px 0;
}

.about-us-sections {
    margin: 30px 0;
}
  
.about-us-sections > .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
}

.grid-container > .grid-item {
    text-align: center;
}
  
.grid-item > .about-us-image {
    width: 250px;
    height: 200px;
  
    /* images keep aspect ratio; resized to fit above height and width */
    object-fit: contain;
}
  
.grid-item > .about-us-name {
    font-size: 1.8em;
    margin-bottom: 5px;
}

.close-header {
    width: 100%;
    height: 3px;
    background-color: #f08f57;
}

.faq {
    text-align: center;
    margin: 30px 0;
}

.summary {
    cursor: pointer;
    padding: 1rem;
    border-bottom: 1px solid #f08f57;
}

.details {
    /* Went off of a tutorial making this */
    border: 1px solid #f08f57;
    background: #ffffff;
    margin-bottom: 1.5rem;
    border-radius: 0.35rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
          0 10px 10px -5px rgba(0, 0, 0, 0.04);

}

.footer {
    height: 30px;
    font-size: 15px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #f08f57;
}