.grid {
    display: grid;
    border: 1px solid black;
    width: 100%;
    grid-template-columns: 4fr 8fr;
    grid-gap: 20px;
    padding: 30px;
    background-color: rgba(0, 0, 0, .05);
}

.account, .details{
    text-align: center;
    font-size: 18px;
}

.image {
    height: 300px;
    width: 100%;
    object-fit: contain;
}

#userInformation {
    font-size: 1.0em;
    margin-top: 35px;
    text-align: center;
}

.user-form {
    column-gap: 25px;
    row-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px auto;
    margin-bottom: 35px;
    width: 50%;
}

.user-form input {
    height: 30px;
}

.user-form > div {
    display: flex;
    flex-direction: column;
}

.street-address{
    grid-column: 1 / 3;
}

.button {
    cursor: pointer;
    background-color: #f08f57;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    height: 40px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.button:hover {
    transform: scale(0.9);
}