#animatedSlider {
  overflow: hidden;
}

#animatedSlider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 15s animatedSlider infinite;
}

#animatedSlider figure .homepage-banner {
  width: 20%;
  float: left;
}	

@keyframes animatedSlider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

.homepage-banner {
  position: relative;
  text-align: center;
}

#halloweenText {
  color: white;
}

.homepage-banner img {
  width: 100%;
}

#valentineImage {
  opacity: 0.5;
}

#legoImage {
  opacity: 0.4;
}

.homepage-banner .banner-text {
  color: black;
  font-weight: 525;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-text .main-tag {
  font-size: 3em;
}

.banner-text .main-subtitle {
  margin-top: 1.25%;
  font-size: 1.4em;
}

@media all and (max-width: 855px) {
  .banner-text .main-tag {
    font-size: 2em;
  }
}

@media all and (max-width: 650px) {
  .banner-text .main-tag {
    font-size: 1.5em;
  }

  .banner-text .main-subtitle {
    font-size: 1em;
  }
}

@media all and (max-width: 400px) {
  .banner-text .main-tag {
    font-size: 1em;
  }

  .banner-text .main-subtitle {
    font-size: 0.8em;
  }
}

.trending-section {
  margin: 30px 0;
}

.trending-section .trending-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.trending-section .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  grid-gap: 75px;
  margin: 0 auto;
}

@media all and (max-width: 1030px) {
  .trending-section .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 630px) {
  .trending-section .grid-container {
    grid-template-columns: 1fr;
  }
}

.grid-container .grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.trending-item-image {
  width: 250px;
  height: 200px;

  /* images keep aspect ratio; resized to fit above height and width */
  object-fit: contain;
}

.grid-item .trending-item-name {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.grid-item .trending-item-price {
  font-size: 1.4em;
  margin-bottom: 1.25%;
}