<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404: Page Not Found</title>
  <style>
    #pageNotFound {
      font-size: 2em;
      margin-top: 100px;
      text-align: center;
    }
  </style>
</head>

<body leftmargin="0" topmargin="0">
  <div id="pageNotFound">404 Error: Page at path "<%- urlPath %>" not Found</div>
</body>

</html>