<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<body leftmargin="0" topmargin="0">
    <header>
        <nav class="navbar"></nav>
    </header>

    <!-- Login/Register -->
    <div id="loginContent">
        <div class="container">
            <div class="signin">
                <form class="form" action="/auth/login" method="POST">
                    <h1>Sign In</h1>
                    <div class="social-container">
                        <a href="#"><img src="images/social_media_icons/facebook.png" alt="facebook"></a>
                        <a href="#"><img src="images/social_media_icons/linkedin.png" alt="linkedin"></a>
                        <a href="#"><img src="images/social_media_icons/google_plus.png" alt="google_plus"></a>
                    </div>
                    <span>or use your account</span>
                    <input type="text" placeholder="Email or Username" id="loginEmail" name="loginEmail">
                    <input type="password" placeholder="Password" id="loginPass" name="loginPass">
                    <div id="loginCheckbox">
                        <input type="checkbox" name="showPass" id="showPass">
                        <label for="showPass">Show Password</label>
                    </div>
                    <a href="#">Forgot your password?</a>
                    <button type="submit" class="btn">Sign in</button>
                </form>
                <div class="side">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="btn">Sign up</button>
                </div>
            </div>
            <div class="signup hidden">
                <form class="form" action="/auth/register" method="POST">
                    <h1>Create Account</h1>
                    <div class="social-container">
                        <a href="#"><img src="images/social_media_icons/facebook.png" alt="facebook"></a>
                        <a href="#"><img src="images/social_media_icons/linkedin.png" alt="linkedin"></a>
                        <a href="#"><img src="images/social_media_icons/google_plus.png" alt="google_plus"></a>
                    </div>
                    <div class="form-control" id="firstControl">
                        <div>
                            <input type="text" placeholder="First Name" id="firstname" name="firstname">
                            <input type="text" placeholder="Last Name" id="lastname" name="lastname">
                        </div>
                        <small>error message</small>
                    </div>
                    <div class="form-control">
                        <input type="text" placeholder="Username" id="username" name="username">
                        <small>error message</small>
                    </div>
                    <div class="form-control">
                        <input type="text" placeholder="Email" id="email" name="email">
                        <small>error message</small>
                    </div>
                    <div class="form-control">
                        <input type="password" placeholder="Password" id="password" name="password">
                        <small>error message</small>
                    </div>
                    <div class="form-control">
                        <input type="password" placeholder="Re-enter Password" id="password2" name="password2">
                        <small>error message</small>
                    </div>
                    <button type="submit" class="btn">Sign Up</button>
                </form>
                <div class="side">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="btn">Sign in</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Login/Register Ending -->

    <%- include("../partials/footer"); %>

    <script src="js/navbar.js"></script>
    <script src="js/main.js"></script>
    <script src="js/login.js"></script>
</body>

</html>